/* Font Families */
.gidole-regular, .header-pages, .about-me-container, p, li, figcaption, h2 {
    font-family: "Gidole", sans-serif;
}

.merriweather, .compact-header, .about-me-container h1, h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

/* Global Styles */
html {
    background-color: #D8E1E9;
    margin: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: #7392b7;
}

img {
    max-width: 100%;
    height: auto;
}

img.rounded {
    border-radius: 8px;
}

/* Layout Helpers */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex: 1;
    min-width: 250px;
}

footer {
    text-align: center;
}

.full-width-image {
    width: 100%;
    height: auto;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6, .paper h3 {
    margin-bottom: 0.5rem;
}

header h1 {
    font-size: 1.8rem;
}

.first-name, .last-name {
    font-weight: 700;
}

.last-name {
    transition: opacity 0.3s ease;
}

.page-title {
    padding-left: 5%;
}

.section-title {
    padding-left: 5%;
}

/* Header Styles */
.compact-header {
    font-family: "Merriweather", serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1e202023;
    padding: 0.5rem 1.5rem;
    width: 100%;
    gap: 1%;
    list-style: none;
    box-sizing: border-box;
}

.header-pages {
    text-align: left;
    padding: 7px;
}

/* Navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    transition: color 0.3s ease;
}

#main-nav ul {
    display: flex;
    gap: 5%;
    list-style: none;
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .last-name {
        display: none;
    }
    .iframe-paper-containers {
        display: none;
    }
    
}

@media (max-width: 950px) {
    .about-me-container, .contact-me-container {
        flex-direction: column;
        text-align: center;
    }
    
    #about-me-image, #contact-me-image {
        width: 100%;
        max-width: 400px;
    }
}

.about-me-container {
    font-family: "Gidole", serif;
    display: flex;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    padding-top: 0;
    gap: 10px;
    text-align: left;
}

#contact-me-container {
    font-family: "Gidole", serif;
    display: flex;
    max-width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 0;
    gap: 5px;
    text-align: left;
}

.contact-me-text a {
    color: #7392B7;
    text-decoration: underline;
}

.about-me-text, .contact-me-text {
    flex: 1;
}

#about-me-image, #contact-me-image {
    width: 80%;
    max-width: 400px;
    min-width: 250px;
    height: auto;
    overflow: hidden;
}

/* Iframe Styling */
.iframe-paper-containers, .iframe-web-app-containers, .iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1rem;
}

.iframe-paper-containers {
    flex: 1;
    height: 500px;
}

.iframe-web-app-containers {
    flex: 1;
    height: 500px;
    background-color: #2a2b2c2c;
}

.iframe-paper-containers iframe, .iframe-web-app-containers iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.yt iframe {
    position: relative;
    width: auto;
    height: auto;
}


/*Carousel*/
.carousel {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-image.active {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: 9%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    /* background: rgba(0, 0, 0, 0.3); */
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/*Papers*/
#academic-papers {
    max-width: 90%;
    margin: auto;
    padding: 0 5%;
    text-align: left;
  }

  .paper {
    background-color: #f9f9f9b3;
    padding: 1.5em;
    border-radius: 10px;
    margin-top: 1.5em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .paper h3 {
    margin-top: 0;
  }

  .paper a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    font-family: "Gidole", serif;
  }

  .paper a:hover {
    text-decoration: none;
    color: #7392b7;
  }

/* Web Applications */
#DNA-Sequence-Analyzer {
    max-width: 90%;
    margin: auto;
    padding: 0 5%;
    text-align: left;
  }

  .web-app {
    background-color: #f9f9f9b3;
    padding: 1.5em;
    border-radius: 10px;
    margin-top: 1.5em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .web-app h3 {
    margin-top: 0;
  }

  .web-app a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    font-family: "Gidole", serif;
  }

  .web-app a:hover {
    text-decoration: none;
    color: #7392b7;
  }